.container{
    color:white;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.68);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 25px;
}

.box{
    background-color:#48000067 ;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.img{
  height:80px
}