.container{
    color:white;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.68);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 25px;
}

.gridItem{
  display: flex;
  justify-content: center;
  align-items: center;

}

.img{
  height:60px;
  max-width:70px;
  object-fit: cover;
}


.gridContent{
  display: grid;
  grid-template-columns: 37% 63%;
  align-items: center;
  /* margin: auto; */
  justify-items: center;  
  height: 100%;
}

.button{
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 300px;
  align-self: center;
}