.container{
    color:white;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.68);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 25px;
}


.gridItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  height:60px;
  max-width:70px;
  object-fit: cover;
}




.button{

  width: 300px;
}