.links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));    
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
    grid-template-rows: 35rem;
}

.img{
    width: 100% ;
    
}