.list{
    height: 80%;
    border-radius: 15px;
    width: 60%;
    background-color: aliceblue;
    padding: 1rem;
    transform: matrix3d(1,0,0.00,-0.0004,0.00,1,0.00,0.0,0,0,1,0,0,0,0,1);
-webkit-transform: matrix3d(1,0,0.00,-0.0004,0.00,1,0.00,0.0,0,0,1,0,0,0,0,1);
@media (max-width:800px){
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);

}
}